<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primera Plantilla</title>
</head>
<body>
    <h2 > Nombre = {{ nom }}</h2>
    <h2> Apellido = {{ ape }}</h2>
    <h3>Lista de notas uwu :</h3>
    {% for nota in lista %}
        {% if nota >= 7 %}
            <h4 style="color:green">{{ nota }}</h4>
        {% else %}
            <h4 style="color:red">{{ nota }}</h4>
        {% endif %}
    {% endfor %}
</body>
</html>